* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(37, 37, 37);
}

/**header logo**/

header img {
    margin: 0 auto;
    width: 200px;
    height: 150px;

}


.logo {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 200px;
    height: 150px;
}

/**main**/

main img {
    width: 100%;
    height: 700px;
    border: black;
}

/**list items*/

li {
    list-style-type: none;
}


/**topnav split van https://www.w3schools.com/howto/howto_css_topnav_split.asp**/


.topnav {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.split:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.split {
    float: left;
    background-color: #7e2020;
    color: white;
}

.hometext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6em;
    margin-top: 5%;

}

.hometext img {
    width: 300px;
    height: 300px;
}


/**main text**/

.hometext h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 40%;
    text-align: center;
    text-decoration: underline;
    align-items: center;
    border-width: 15px;
    border-style: solid;
    border-color: #7e2020;
    padding: 15px;
    background-color: #7e2020;
   

}

.hometext p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 40%;
    text-align: center;
    align-items: center;
    margin-bottom: 2em;
    margin-top: 0em

}


.hometext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hometext2 h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 40%;
    text-align: center;
    text-decoration: underline;
    align-items: center;
    border-width: 15px;
    border-style: solid;
    border-color: #7e2020;
    padding: 15px;
    background-color: #7e2020;
   

}

.hometext2 p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    width: 40%;
    text-align: center;
    align-items: center;
    margin: 4em;
    margin-bottom: 0em;
    border-width: 5px;
    border-style: solid;
    border-color: whitesmoke;
    border-left: whitesmoke;
    border-right: whitesmoke;
    padding: 2em;

}

.hometext2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10em;
}

/**scroll image bar from https://www.w3schools.com/howto/default.asp**/
section.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}